@model IEnumerable<HCH_LAB456.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<ul>

    @foreach (var viewModel in @Model)
    {
        <li>
            <span style="font-weight:bold">@viewModel.Name</span>
            <button class="btn btn-info btn-sm js-toggle-follow" data-user-id="@viewModel.Id">
                Following
            </button>
            <br />
            <br />
        </li>

    }
</ul>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Bạn đã đăng kí tham gia khoá học này rồi!!!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Bạn đã theo dõi khoá học này rồi!!!");
                    });
            });

        });
    </script>
}